# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Arduino
*.hex
*.elf
*.bin
*.eep
*.lss
*.sym
*.map
*.lst
*.bak
*.swp
*~

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Project specific
camera_settings.json
*.log 